{% assign settings = site.data.settings %}

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-3 mb-lg-0">

				<!-- CONTACT -->
				<div class="contact">

					<!-- OFFICE -->
					<h4 class="text-uppercase mb-3">
						<span class="font-weight-semibold">Griffiths Parry</span> <br>
						<span class="h5 font-weight-normal">Lawyers &amp; Notary</span>
					</h4>

					<hr>

					<!-- PHONE -->
					<p class="mb-1">
					    <a class="d-inline-flex align-items-center" href="{{ tel:settings.offices[0].phone_2 }}">
					        <i class="fa fa-phone"></i>
					        <span class="text">{{ settings.offices[0].phone_1 }}</span>,&nbsp;
					        <span class="text">{{ settings.offices[0].phone_2 }}</span>
					    </a>
					</p>

					<!-- EMAIL -->
					<p class="mb-1">
					    <a class="d-inline-flex align-items-center" href="{{ mailto:settings.offices[0].email }}">
					        <i class="fa fa-envelope"></i>
					        <span class="text">{{ settings.offices[0].email }}</span>
					    </a>
					</p>

					<!-- ADDRESS -->
					<p class="mb-1">
		                <span class="d-inline-flex">
		                    <i class="fa fa-map-marker"></i>
		                    <span>
			                    <span class="text">{{ settings.offices[0].address }}</span>
			                    <br>
			                    <a href="/contact/" class="view-map-btn">View Map <i class="fa fa-angle-right"></i></a>
		                    </span>
		                </span>
					</p>

				</div>

			</div>
			<div class="col-md-6 mb-3 mb-lg-0 bleed-right-secondary">

				<!-- BTN TILES -->
				<div class="btn-tiles mb-4 ml-md-auto">
					<div class="row no-gutters">
						<div class="col-xl-6">

							<!-- BTN TILE #1 -->
							<a class="btn-tile" href="#" data-match-height>
								<h4 class="mb-1">Family law online<i class="d-inline ml-2 fa fa-angle-right"></i></h4>
								<p>Personalised information in minutes</p>
							</a>
						</div>
						<div class="col-xl-6">

							<!-- BTN TILE #2 -->
							<a class="btn-tile" href="#" data-match-height>
								<h4 class="mb-1">Start your will online<i class="d-inline ml-2 fa fa-angle-right"></i></h4>
								<p>Begin your estate planning with our tools</p>
							</a>
						</div>
					</div>
				</div>

				<!-- SOCIAL MEDIA + ARAMA MEMBER -->
				<div class="d-md-flex align-items-center justify-content-end">
					<div class="mr-2 mb-3 mb-md-0 mr-md-4 mr-lg-5">
						{% include snippets/social_media.html %}
					</div>
					<div>
						<img width="76" src="/assets/img/content/arama-member-logo.png" alt="Arama Member">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">
		<div class="row">
			<div class="col-md-6 text-center text-md-left">

				<!-- DATE -->
				<small class="mr-4">&copy;
					<date><script>document.write(new Date().getFullYear())</script></date>
					{{ settings.company }}
				</small>

				<!-- PRIVACY POLICY -->
				<small class="mr-4">
					<a href="/privacy-policy/">Privacy Policy</a>
				</small>

				<!-- ANOTHER LINK EXAMPLE -->
				<!-- <small class="mr-2">
					<a href="/">Sitemap</a>
				</small> -->

			</div>
			<div class="col-md-6 text-center text-md-right">

				<!-- AUTHOR -->
				<small>
					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
				    	<span class="text">{{ settings.author.description }}</span>&nbsp;
				    	<img width="20" height="20" src="{{ settings.author.logo }}" alt="Website by {{ settings.author.title }}">
					</a>
				</small>

			</div>
		</div>
    </div>
</section>