/*
    HEADER.CSS

    - Last updated: 19.06.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$header-top-sm-height: 50px !default;
$header-top-md-height: 50px !default;
$header-top-lg-height: 50px !default;

$header-body-sm-height: 60px !default;
$header-body-md-height: 90px !default;
$header-body-lg-height: 318px !default;

$header-bottom-sm-height: 50px !default;
$header-bottom-md-height: 50px !default;
$header-bottom-lg-height: 50px !default;

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------

.lv-page {
	padding-top: $header-top-sm-height;

	@include media-breakpoint-up(md) {
	    padding-top: $header-top-lg-height + $header-body-lg-height;
	}
}

//****************************************************
// PINNED - SCROLLING DOWN
//****************************************************

.headroom--pinned.global-header {
    @include media-breakpoint-down(sm) {
        transform: translateY(0%);
    }
}

//****************************************************
// UNPINNED - SCROLLING UP
//****************************************************

.headroom--unpinned.global-header {
	@include media-breakpoint-down(sm) {
    	transform: translateY(-100%);
    	transition-delay: 1000ms; // delay for UX
	}
}

//****************************************************
// HEADROOM TOP
// header is transparent when at top
//****************************************************

.headroom--top.global-header {
	background: white; // Need for animation
}

//****************************************************
// HEADROOM NOT TOP
//****************************************************

.headroom--not-top.global-header {
	position: fixed;
	box-shadow: 0 0 3px 1px rgba(black, 0.2);

	.global-header-top {
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.global-header-body {
		background: white; //$primary; // [THEMABLE]
		// transition: all 200ms ease-out;
		align-items: center;


		@include media-breakpoint-up(md) {
		    height: $header-body-md-height;
		    padding-bottom: rem-calc(20); // fix
		}

		.logo img {
			@include media-breakpoint-up(md) {
			    max-height: rem-calc(70);
			    // padding: rem-calc(10 0);
			}
		}
	}
}

//-----------------------------------------------------------------
// HEADER GENERAL
//-----------------------------------------------------------------

.global-header {
	position: absolute;
	top: 0;
	width: 100%;
	will-change: transform;
	// transition: transform 200ms linear, background-color 200ms ease;
	transition: transform 200ms linear;
	z-index: 9999;

	@include media-breakpoint-down(sm) {
	    position: fixed;
	}
}

//-----------------------------------------------------------------
// HEADER TOP
//-----------------------------------------------------------------

.global-header-top {
	display: flex;
	align-items: center;
	position: relative; // [LOCKED]
	height: $header-top-lg-height;
	background: $secondary;
	font-size: rem-calc(16);
	// font-weight: $font-weight-semibold;
	color: white; // [LOCKED] - for dropdown override
	// transition: all ease 150ms;
	z-index: 2; // [LOCKED] - dropdown needs to move over top of nav

	a {
		margin-right: rem-calc(15);
		color: white; // [THEMEABLE]
		transition: opacity 200ms ease;
		font-weight: $font-weight-normal;
	}

	i {
		font-size: rem-calc(18);
	}

	a:last-of-type {
		margin-right: 0;
	}
}

//=========================================
// HOVERS
//=========================================

.global-header-top a:not(.dropdown-item):hover {
	opacity: 0.8;
}

//=========================================
// DROPDOWN
// a little brittle - copies styles from topbar
//=========================================

.global-header-top .dropdown .dropdown-menu {
	padding: 0; // [RESET]
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	.dropdown-item {
		padding: rem-calc(15 20);
		font-size: rem-calc(14); // opinionated
		font-weight: 500;
		color: #444;

		&:hover {
			background: rgba(black, 0.1);
			color: #444 !important;
		}
	}
}

//-----------------------------------------------------------------
// HEADER BODY
//-----------------------------------------------------------------

.global-header-body {
	position: relative; // safe? - added for dropdown
	display: flex;
	align-items: center;
	height: $header-body-sm-height;
	// transition: height 100ms ease;
	z-index: 1; // safe? - added for dropdown

	@include media-breakpoint-up(md) {
		align-items: flex-end;
	    height: $header-body-lg-height;
	    // height: auto;
	    padding: rem-calc(20 0 30 0); // [LOCKED]
	}

	// @include media-breakpoint-up(lg) {
		// height: $header-body-lg-height;
	// }

	//=========================================
	// HEADER HEIGHT [LOCKED]
	//=========================================

	> .container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include media-breakpoint-down(xs) {
		    width: 100%; // fixes mobile glitch?
		}
	}
}

//-----------------------------------------------------------------
// LOGO
//-----------------------------------------------------------------

.global-header .logo {

	img {
		// max-height: rem-calc(54);
		transition: all ease-out 300ms;

		@include media-breakpoint-down(sm) {
			max-height: rem-calc(50);
		    // padding: rem-calc(10 0);
		}

		@include media-breakpoint-down(lg) {
		    transition: all ease-out 100ms;
		}

		@include media-breakpoint-up(md) {
		    max-width: rem-calc(400);
		}

		@include media-breakpoint-up(xxl) {
			max-width: rem-calc(464);
		}
	}
}

//-----------------------------------------------------------------
// HAMBURGER
//-----------------------------------------------------------------

.global-header-hamburger {
	margin: auto 0 auto auto;
}

//=========================================
//
//=========================================