/*
    BREADCRUMBS.CSS

    - Last updated: 11.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BREADCRUMBS
//-----------------------------------------------------------------

.breadcrumb {
	margin-bottom: rem-calc(5);

    .breadcrumb-item {
    	text-transform: uppercase;
    	color: white;

    	&:hover {
    		opacity: 0.8;
    	}
    }
}

//=========================================
//
//=========================================
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------