/*
    FORMS.CSS

    - updated: 20.06.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FORMS
//-----------------------------------------------------------------

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
textarea {
	-webkit-appearance: none; // removes shadow on iOS
}

.form-contact-centered {
	input, textarea {
		border: 0;
	}
}

//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form[data-toggle="validator"] .error {
	display: none;
	width: 100%;
	padding: rem-calc(5 10);
	background: $red;
	color: white;
}

form[data-toggle="validator"] .has-error > .form-control {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

form[data-toggle="validator"] .has-error > .error {
	display: block;
}

//-----------------------------------------------------------------
// PLACEHOLDER
//-----------------------------------------------------------------

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-transform: uppercase;
	color: darken(#cdcdcd, 10%) !important;
}
::-moz-placeholder { /* Firefox 19+ */
	text-transform: uppercase;
	color: darken(#cdcdcd, 10%) !important;
}
:-ms-input-placeholder { /* IE 10+ */
	text-transform: uppercase;
	color: darken(#cdcdcd, 10%) !important;
}
:-moz-placeholder { /* Firefox 18- */
	text-transform: uppercase;
	color: darken(#cdcdcd, 10%) !important;
}

//-----------------------------------------------------------------
// ASTERISK
//-----------------------------------------------------------------

.asterisk {
	font-size: rem-calc(20);
	line-height: 0;
	color: $blue;
}

//-----------------------------------------------------------------
// FORM GROUPS WITH ICONS
//-----------------------------------------------------------------

.form-group.has-icon {
	position: relative;

	> i {
		position: absolute;
		top: rem-calc(18);
		left: -10px;
		left: rem-calc(15);
		line-height: 0;
		color: rgba(black, 0.4);
		z-index: 2;

		+ .input-group input,
		+ input {
			position: relative;
			padding-left: rem-calc(40);
			z-index: 1;
		}
	}
}

//-----------------------------------------------------------------
// DEFAULTS
//-----------------------------------------------------------------

fieldset {
	margin-bottom: $spacer;
}

.custom-control {
	margin-bottom: rem-calc(15);
}

// form label em,
// form label i {
// 	// color: rgba(white, 0.5);
// }

.global-footer input,
.global-footer button {
	// border: 0;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================