/*
    SECTIONS.CSS

    - updated: 25.06.18
    - liquidvisual.com

    GLOSSARY:

        .section
            &.is-dark
            &.has-image-bg
                &.is-fixed
                &.is-tinted
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SECTION CONTENT
// used in the main-body 2-column layout
//-----------------------------------------------------------------

.section-content {
    .container {
        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }
}

//-----------------------------------------------------------------
// SECTION
//-----------------------------------------------------------------

.section {
    position: relative;
    padding: ($spacer * 2.5) 0;

    @include media-breakpoint-up(md) {
        // padding: ($spacer * 3) 0;
        padding: rem-calc(84 0);
    }
}

//-----------------------------------------------------------------
// BG FILLS
//-----------------------------------------------------------------

.has-primary-bg {
    background-color: $primary;
}

//-----------------------------------------------------------------
// IS DARK
//-----------------------------------------------------------------

.section.is-dark {
    background-color: $secondary;
    color: white;

    hr {
        border-color: rgba(white, 0.4);
    }
}

//-----------------------------------------------------------------
// HAS IMAGE BG
//-----------------------------------------------------------------

.has-image-bg,
.section[style~=background-image] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    //=========================================
    // IS FIXED
    //=========================================

	&.is-fixed {
		@include media-breakpoint-up(xl) {
	    	background-attachment: fixed;
		}
	}

    //=========================================
    // IS TINTED
    //=========================================

    &.is-tinted {
        > .container {
            position: relative;
            z-index: 1; // [LOCKED]
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: rgba(black, 0.6); //rgba(#222, 0.6);
            // background-color: rgba($secondary, 0.48);
            background-color: rgba($secondary, 0.74);
            // z-index: 1;
        }
    }

    //=========================================
    // HAS LESS TINT
    //=========================================

    &.has-less-tint {
        &:before {
            background-color: rgba($secondary, 0.56);
        }
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================