---
layout: base
---

{% include {{ page.hero | default: 'components/hero/hero_static.html' }} align_caption=page.hero_caption_align options=page.hero_options data=page.hero_data %}

<!-- BODY -->
<main class="main-body">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-7 col-xl-8 pr-lg-5">
	        	{{ content }}
	        </div>
	        <div class="col-lg-5 col-xl-4 pl-lg-5">
				<aside class="sidebar">
					{% contentblock sidebar no-convert %}
				</aside>
	        </div>
	    </div>
	</div>

	{% contentblock content_additional no-convert %}
</main>