---
layout: base
---

{% assign areas_of_practice = site.data.sitemap[3].children %}

<!-- BODY -->
<main class="main-body">

	<!-- SPLIT FEATURE 1 -->
	<section class="split-feature is-top section is-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-6 bleed-left-primary">
					<div class="row">
						<div class="col-md-11 col-lg-10">

							<!-- LEAD -->
							<p class="lead mb-4">Griffiths Parry Lawyers have been delivering the Sunshine Coast and beyond with strong legal guidance for a wide range of business needs, personal requirements and property transactions.</p>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Beyond genuine expertise, we pride ourselves on our approachable and easy to deal with nature. We know you want the expertise to deliver outstanding results. You also want lawyers who can talk to you in plain English, to effectively communicate your options and genuinely understand your needs.</p>
							</div>

							<!-- BUTTON CTA -->
							<a class="btn btn-cta" href="/our-people/">
							    <i class="fa fa-user-circle"></i>
							    <span class="text">Meet our Team</span>
							    <i class="fa fa-angle-right"></i>
							</a>

						</div>
					</div>
				</div>
				<div class="col-md-6 bleed-right-secondary">
					<div class="row">
						<div class="col-11 offset-md-1">

							<!-- LEAD -->
							<p class="lead mb-4">I am looking for...</p>

							<!-- PRATICE AREAS -->
							<ul class="list-unstyled">
								{% for item in areas_of_practice %}
								    <li class="mb-4">
								        <a class="h1 text-uppercase" href="{{ item.url }}">
								            {{ item.title }}&nbsp;<i class="fa fa-angle-right d-inline"></i>
								        </a>
								    </li>
								{% endfor %}
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- SPLIT FEATURE 2 -->
	<section class="split-feature is-bottom section is-dark has-image-bg" style="background-image: url(/assets/img/content/meeting.jpg)">
		<div class="container">
			<div class="row">
				<div class="col-md-6 bleed-left-secondary">
					<div class="row">
						<div class="col-md-11 col-lg-10">

							<!-- INTRO HEADING -->
							<h2 class="mb-4">Donec quam felis, s nec, pellent esque eu, pretium nascetur ridiculus.</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg mb-5">
								<p>Some ‘about us’ content, sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent esque eu, pretium quis, sem. Nulla consequat massa quis enim parturient montes. Penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, s nec, pellent esque eu, pretium. nascetur ridiculus mus. Donec quam felis, ultricies necent esque eu, quis, sem. Nulla consequat massa  nascetur ridiculus mus.  orem ipsum.</p>
							</div>

							<!-- READ MORE -->
							<a href="#" class="btn btn-primary">Read more <i class="fa fa-angle-right"></i></a>

						</div>
					</div>
				</div>
				<div class="col-md-6 bleed-right-primary">
					<div class="row">
						<div class="col-11 offset-md-1">

							<!-- FEATURE HEADING -->
							<h2><i class="fa fa-credit-card-alt"></i>&nbsp; Fee Funding</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg mb-4 pb-1">
								<p>We are pleased to advise that with Griffiths Parry Lawyers you now have the option of paying your fees in monthly instalments. Having funds available for a legal matter is recognised by Griffiths Parry Lawyers as being of real concern to clients and in support of this we have implemented an alternative payment option for the convenience of eligible clients.</p>
							</div>

							<!-- FEATURE HEADING -->
							<h2><i class="fa fa-lightbulb-o"></i>&nbsp; Genuine Solutions</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Our clients are provided with clear, effective advice tailored to their specific needs and goals. Our lawyers are highly regarded experts and are supported by a dedicated team of professionals.</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- SECTION -->
	<section class="section is-light has-reduced-padding">
		<div class="container">

			<!-- HEADER -->
			<div class="d-md-flex align-items-center mb-3 mb-md-4 pb-2">

				<!-- CURSOR -->
				<div class="mr-3 text-center text-md-left">
					<p><img width="47" src="/assets/img/content/cursor-arrow.svg" alt="Cursor"></p>
				</div>

				<!-- HEADING -->
				<div>
					<h2>Save time &amp; money with our online tools</h2>
					<p class="h6 font-weight-normal">When you meet with our expert lawyers they'll be ready to provide advice.</p>
				</div>
			</div>

			<!-- CTA PANELS -->
			<div class="row">
				<div class="col-md-6">

					<!-- CTA PANEL -->
					<div class="cta-panel" data-match-height>

						<!-- HEADER -->
						<h2>Family Law online</h2>

						<!-- TEXT -->
						<p class="mb-4">
							Our online system allows you to get started anywhere, any time - and provides information that is instant, personalised, and helpful. We can also assemble your complete relationship history online, which will help us reduce costs you book in for an appointment.
						</p>

						<!-- BUTTON -->
						<p><a href="#" class="btn btn-primary">Family Law Online - Get Started <i class="fa fa-angle-right"></i></a></p>
					</div>

				</div>
				<div class="col-md-6">

					<!-- CTA PANEL -->
					<div class="cta-panel" data-match-height>

						<!-- HEADER -->
						<h2>Start your will online today</h2>

						<!-- TEXT -->
						<p class="mb-4">
							The simple way to get a Will: get peace of mind with a solicitor-drafted Will and other important documents. Ensure your loved ones are provided for, and have your Will prepared quickly and easily as possible.
						</p>

						<!-- BUTTON -->
						<p><a href="#" class="btn btn-primary">Begin Your Estate Planning <i class="fa fa-angle-right"></i></a></p>

					</div>
				</div>
			</div>

		</div>
	</section>

	{% include latest_articles.html %}

	{% include section_contact.html %}
</main>