---
layout: base__page
---

{% assign settings = site.data.settings %}
{% assign areas_of_practice = site.data.sitemap[3].children %}

<!-- SECTION -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <!-- LEAD -->
                <p class="h2 font-weight-normal mb-4 mb-md-5">
                    Griffiths Parry Lawyers have been delivering the Sunshine Coast and beyond with strong legal guidance for a wide range of business needs, personal requirements and property transactions.
                </p>

                <!-- IMAGE -->
                <p class="mb-4"><img width="100%" src="/assets/img/content/about.jpg" alt="Griffiths Parry Lawyers"></p>

            </div>
            <div class="col-md-7">
                <div class="pl-md-4">

                    <!-- WYSIWYG -->
                    <div class="wysiwyg mb-4">
                        {{ content }}
                    </div>

                    <!-- BUTTON CTA -->
                    <a class="btn btn-cta" href="/our-people/">
                        <i class="fa fa-user-circle"></i>
                        <span class="text">Meet our Team</span>
                        <i class="fa fa-angle-right"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION -->
<section class="section is-tinted has-image-bg pb-5" style="background-image: url(/assets/img/content/hero/bg-1.jpg">

    <!-- HEADER -->
    <h2 class="spec-header text-uppercase text-center">
        <div class="container">
            Our Specialist Areas of Practice
        </div>
    </h2>

    <div class="spacer mt-2 mb-5"></div>
    <div class="spacer my-4 hidden-md-up"></div>

    <!-- BODY -->
    <div class="container">
        <ul class="block-grid-xs-1 block-grid-md-3">
            {% for item in areas_of_practice %}
                <li>
                    <a class="text-light" href="{{ item.url }}">
                        <h3 class="h2">{{ item.title }} <i class="fa fa-angle-right is-opaque"></i></h3>
                    </a>
                    <ul class="list-unstyled">
                        {% for item in item.children %}
                            <li>
                                <a class="d-flex text-light font-weight-normal" href="{{ item.url }}">
                                    &nbsp;<span>- </span>&nbsp;<span>{{ item.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% include latest_articles.html %}

{% include section_contact.html %}