---
layout: base__page
---

{% assign areas_of_practice_sub_items = site.data.sitemap[3].children[0].children %}

<!-- SECTION -->
<section class="section is-dark pb-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <!-- WYSIWYG -->
                <div class="wysiwyg lead mb-5">
                    {{ content | markdownify }}
                </div>

            </div>
            <div class="col-md-8">
                <div class="pl-md-5">

                    {% for item in areas_of_practice_sub_items %}
                        <a class="d-block btn-header mb-4" href="{{ item.url }}">
                            <h2 class="text-uppercase mb-0">{{ item.title }} <i class="fa fa-angle-right"></i></h2>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% include app/contact.html %}