---
layout: base__page
---

{% assign areas_of_practice_sub_items = site.data.sitemap[3].children[0].children %}

<!-- SECTION -->
<section class="section has-reduced-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xxl-4">

                <!-- HEADER -->
                <div class="d-md-flex mb-2 mb-md-0 pb-2">

                    <!-- CURSOR -->
                    <div class="pt-1 mr-3 text-center text-md-left">
                        <p><img width="47" src="/assets/img/content/cursor-arrow.svg" alt="Cursor"></p>
                    </div>

                    <!-- HEADING -->
                    <div>
                        <h2>Save time &amp; money with our online tools</h2>
                        <p class="h6 font-weight-normal">When you meet with our expert lawyers they'll be ready to provide advice.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-7 col-xxl-8">

                <!-- CTA PANEL BUTTON -->
                <a href="#" class="cta-panel cta-panel-btn ml-lg-4">
                    <h2>Start your will online today<i class="d-inline ml-2 fa fa-angle-right"></i></h2>
                    <p>The simple way to get a will: get peace of mind with a solicitor-drafted Will and other important documents. Ensure your loved ones are provided for, and have your Will prepared as quickly and easily as possible.</p>
                </a>

            </div>
        </div>
    </div>
</section>

<!-- SECTION -->
<section class="section is-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <!-- LEAD -->
                <p class="lead mb-4">{{ page.lead }}</p>

            </div>
            <div class="col-md-8">
                <div class="pl-md-5">

                    <!-- AREAS OF PRACTICE -->
                    {% for item in areas_of_practice_sub_items %}
                        <a class="d-block btn-header mb-4" href="{{ item.url }}">
                            <h2 class="text-uppercase mb-0">{{ item.title }}&nbsp;<i class="fa fa-angle-right d-inline"></i></h2>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% include latest_articles.html %}

{% include section_contact.html %}