---
layout: base__page
---

{% assign settings = site.data.settings %}
{% assign areas_of_practice = site.data.sitemap[3].children %}

<!-- SECTION -->
<section class="section is-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 pr-lg-5">
                <p class="lead mb-0">
                    Beyond genuine expertise, we pride ourselves on our approachable and easy to deal with nature. We know you want the expertise to deliver outstanding results. You also want lawyers who can talk to you in plain English, to effectively communicate your options and genuinely understand your needs.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION -->
<section class="section has-image-bg is-tinted has-less-tint" style="background-image: url(/assets/img/content/hero/bg-3.jpg">
    <div class="container">
        <ul class="block-grid-xs-1 block-grid-md-2 block-grid-lg-3">
            {% for item in areas_of_practice %}
                <li>
                    <a data-match-height class="btn-spec-tile" href="{{ item.url }}">
                        <h2 class="text-uppercase">{{ item.title }}&nbsp;<i class="fa fa-angle-right"></i></h2>
                        <p>At Griffiths Parry Lawyers and Notary, our clients are provided with clear, effective advice tailored to their specific business needs and goals.</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% include latest_articles.html %}