---
layout: base__page_sidebar
---

{% assign settings = site.data.settings %}

<!-- SECTION -->
<section class="section section-content">
    <div class="container">

        <!-- HEADING -->
        <h2>Need help? Make an enquiry now</h2>

        <!-- WYSIWYG -->
        <div class="wysiwyg mb-4">
            <p>Fill out the form below to receive a free and confidential initial consultation.</p>
        </div>

        {% include app/form_contact.html %}
    </div>
</section>

{% contentfor sidebar %}

    <!-- CONTACT DETAILS -->
    <section class="section">
        <div class="container">

            <h4 class="text-uppercase mb-3">
                Griffiths Parry<br>
                Lawyers &amp; Notary
            </h4>

            <p>
                {{ settings.offices[0].title }}<br>
                {{ settings.offices[0].address }}<br>
                <a href="mailto:settings.offices[0].email">{{ settings.offices[0].email }}</a>
            </p>
            <br>

            <!-- WYSIWYG -->
            <div class="wysiwyg mb-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            {% include components/social_media.html %}
        </div>
    </section>

{% endcontentfor %}

{% contentfor content_additional %}
    {% include components/widgets/google_map.html id="google-map" %}
{% endcontentfor %}