---
layout: base__page
---

<!-- SECTION -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 order-2 order-md-1">

				<!-- IMAGE -->
				<p class="mb-2">
					<img width="100%" src="/assets/img/content/tracy-price.jpg" alt="Tracy Price">
				</p>

				<!-- CTA PANEL BUTTON -->
				<a href="#" class="cta-panel cta-panel-btn has-reduced-padding">
				    <h4 class="mb-2">
				    	Start your will online with Tracy<i class="d-inline ml-2 fa fa-angle-right"></i>
				    </h4>
				    <p class="mb-2">
				    	Save time &amp; money with our online tools. When you meet with our expert lawyers they'll be ready to provide advice.
				    </p>
				</a>

			</div>
			<div class="col-md-8 order-1 order-md-2">
				<div class="pl-md-4">

					<!-- HEADING + POSITION -->
					<h1>Tracy Price</h1>
					<h2 class="h4 text-uppercase mb-4">Position</h2>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-4">
						{{ content }}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

{% include section_contact.html %}