---
layout: base__page
---

<!-- SECTION -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 order-2 order-md-1">

				<!-- IMAGE -->
				<p><img width="100%" src="/assets/img/content/tracy-price.jpg" alt="Tracy Price"></p>

			</div>
			<div class="col-md-8 order-1 order-md-2">
				<div class="pl-md-4">

					<!-- HEADING + POSITION -->
					<h1>Tracy Price special heading?</h1>
					<h2 class="h4 text-uppercase mb-4">Position</h2>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-4">
						{{ content }}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- { % include contact.html %} -->